body {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

.header {
  background-color: rgba(52, 160, 164, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header .row .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row .header-left .header-logo {
  width: 10%;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .header .row .header-left .header-logo {
    width: 20%;
  }
}

.header .row .header-left .header-logo img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .header .row .header-left .header-logo img {
    width: 65%;
  }
}

.header .row .header-left .header-nav {
  width: 80%;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  margin-left: 20px;
}

@media screen and (max-width: 1035px) {
  .header .row .header-left .header-nav {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .header .row .header-left .header-nav {
    display: none;
  }
}

.header .row .header-left .header-nav .nav-content {
  padding: 0;
}

.header .row .header-left .header-nav .nav-content .nav-item {
  display: inline-block;
  position: relative;
}

.header .row .header-left .header-nav .nav-content .nav-item i {
  font-size: 16px;
}

.header .row .header-left .header-nav .nav-content .nav-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.header .row .header-left .header-nav .nav-content .nav-item a:hover {
  color: #333533;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu {
  min-width: 240px;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -2;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 12px 0;
  border-radius: 4px;
  list-style: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu li a {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 14px;
  display: block;
  color: #1f1f25;
  margin: 0 10px;
  border-radius: 3px;
  text-decoration: none;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu li:hover a {
  color: #f48c06;
  background: rgba(83, 81, 80, 0.07);
}

.header .row .header-left .header-nav .nav-content .nav-item:hover .submenu {
  opacity: 1;
  visibility: visible;
  z-index: 90;
}

.header .row .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 992px) {
  .header .row .header-right {
    width: 40%;
  }
}

.header .row .header-right .header-right-item {
  width: 85%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 992px) {
  .header .row .header-right .header-right-item {
    width: 100%;
    text-align: right;
  }
}

.header .row .header-right .header-right-item i {
  margin-right: 20px;
  color: #f7fff7;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .header .row .header-right .header-right-item i {
    display: none;
  }
}

.header .row .header-right .header-right-item .nav-login {
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .header .row .header-right .header-right-item .nav-login {
    display: none;
  }
}

.header .row .header-right .header-right-item .nav-login a {
  color: #f7fff7;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.header .row .header-right .header-right-item .nav-login a:hover {
  opacity: 0.75;
  color: #333533;
}

.header .row .header-right .header-right-item .btn-report {
  background: #f48c06;
  color: #333533;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 3em #f48c06 inset;
          box-shadow: 0 0 0 3em #f48c06 inset;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.header .row .header-right .header-right-item .btn-report:hover {
  -webkit-box-shadow: 0 0 0 1px #f7fff7 inset;
          box-shadow: 0 0 0 1px #f7fff7 inset;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #f7fff7;
  background: transparent;
  border: 1px solid #f7fff7;
}

@media screen and (min-width: 992px) {
  .header .row .header-right .header-right-item .navbar-toggler {
    display: none;
  }
}

.header .row .header-right .header-right-item .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .row .header-right .header-right-item .offcanvas .offcanvas-header h5 {
  font-weight: 600;
  font-size: 30px;
}

.header .row .header-right .header-right-item .offcanvas .offcanvas-body .nav-item {
  display: inline;
}

.header .row .header-right .header-right-item .offcanvas .offcanvas-body .nav-item a {
  font-size: 24px;
  color: #636363;
}

@media screen and (max-width: 992px) {
  .header .row .header-right .header-right-item .offcanvas .offcanvas-body .nav-item a {
    text-align: left;
  }
}

.enter-infor {
  background: url("../img/lostbanner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  height: 750px;
}

.enter-infor span {
  color: red;
}

.enter-infor .row-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.enter-infor .row-enter .enter-left {
  width: 50%;
  text-align: center;
  padding-top: 100px;
}

.enter-infor .row-enter .enter-left h1 {
  font-size: 40px;
  font-weight: 600;
}

.enter-infor .row-enter .enter-left p {
  font-size: 36px;
  margin-bottom: 0px;
}

.enter-infor .row-enter .enter-right {
  width: 45%;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
}

.enter-infor .row-enter .enter-right .enter-title {
  margin-bottom: 30px;
}

.enter-infor .row-enter .enter-right .enter-title h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
  color: green;
}

.enter-infor .row-enter .enter-right .enter-title p {
  font-size: 17px;
  color: #636363;
  margin-bottom: 15px;
}

.enter-infor .row-enter .enter-right .enter-main .radio-box {
  margin-bottom: 30px;
}

.enter-infor .row-enter .enter-right .enter-main .form-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enter-infor .row-enter .enter-right .enter-main .form-item .form-top-left {
  width: 50%;
  margin-right: 10px;
}

.enter-infor .row-enter .enter-right .enter-main .form-item .form-top-right {
  width: 50%;
}

.enter-infor .row-enter .enter-right .enter-main .btn-enter {
  text-align: center;
}

.enter-infor .row-enter .enter-right .enter-main .btn-enter button {
  padding: 10px 20px;
  border-radius: 10px;
}
/*# sourceMappingURL=lost&found.css.map */